header{
   background-color: aqua;
    text-align: center;
    height: 330px;
}
#about{
    text-align: center;
    background-color: azure;
}
#services{
    text-align: center;
    background-color: blueviolet;
}
#whatwedo{
    background-color: brown;
}
#portfolio{
    background-color: burlywood;
}