header{
    background-image: url('../image/h_img.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    text-align: center;
    height: 330px;
}
#about{
    text-align: center;
    background-color: azure;
}
#services{
    text-align: center;
    background-image: url('../image/s_image.jpg');
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    color: white;
}
#portfolio{
    background-color: burlywood;
}
footer{
    text-align: center;
}
h2{
    text-align: center;
}